<!-- main.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multiple-Domain Prices Estimator</title>
  <style>
    h2 {
      color: white;
      transition: color 0.3s; /* Smooth transition effect */
    }

    .tranding-slide:hover h2 {
      color: #ec994b; /* Change color on hover for the entire block */
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: rgb(63, 61, 61)">
  <section id="tranding">
    <div class="container">
      <h1 class="text-center section-heading">Multiple-Domain Prices Estimator</h1>
    </div>
    <div class="container">
      <div class="swiper tranding-slider">
        <div class="swiper-wrapper">
          <!-- Slide no 1 -->
          <div class="swiper-slide tranding-slide">
            <a href="{{ url_for('cars') }}"" class="slide-link">
              <div class="tranding-slide-img">
                <img src="{{ url_for('static', filename='h1.png') }}" alt="Tranding">
              </div>
              <div class="slide-content">
                <h2>Cars </h2>
                <!-- Additional content for the slide -->
              </div>
            </a>
          </div>
          <!-- Slide-end -->

          <!-- Slide no 2 -->
          <div class="swiper-slide tranding-slide">
            <a href="{{ url_for('laptops') }}" class="slide-link">
              <div class="tranding-slide-img">
                <img src="{{ url_for('static', filename='h2.png') }}" alt="Tranding">
              </div>
              <div class="slide-content">
                <h2>Laptops</h2>
                <!-- Additional content for the slide -->
              </div>
            </a>
          </div>
          <!-- Slide-end -->

          <!-- Slide no 3 -->
          <div class="swiper-slide tranding-slide">
            <a href="{{ url_for('mobiles') }}" class="slide-link">
              <div class="tranding-slide-img">
                <img src="{{ url_for('static', filename='h3.png') }}" alt="Tranding">
              </div>
              <div class="slide-content">
                <h2>Mobile Phones</h2>
                <!-- Additional content for the slide -->
              </div>
            </a>
          </div>
          <!-- Slide-end -->

          <!-- Slide no 4 -->
          <div class="swiper-slide tranding-slide">
            <a href="{{ url_for('houses') }}" class="slide-link">
              <div class="tranding-slide-img">
                <img src="{{ url_for('static', filename='h4.png') }}" alt="Tranding">
              </div>
              <div class="slide-content">
                <h2>Houses</h2>
                <!-- Additional content for the slide -->
              </div>
            </a>
          </div>
          <!-- Slide-end -->
        </div>

        <!-- Swiper controls -->
        <div class="tranding-slider-control">
          <!-- Swiper controls content -->
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
